Django==3.2.25
asgiref==3.4.1

camelot-py
cffi
chardet
charset-normalizer
click
cryptography
django-cors-headers
django-filter
djangorestframework
et_xmlfile
ghostscript
numpy
opencv-python-headless
openpyxl
pdfminer.six
pillow
psycopg2-binary
pycparser
pypdfium2
python-barcode
python-dateutil
pytz
qrcode
six
sqlparse
tabulate
tzdata
dotenv
python-dotenv

